{
  "extends": ["prettier", "plugin:@typescript-eslint/recommended", "react-app"],
  "plugins": ["prettier"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
